<html> 
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'> 
    <head>
        <style>
            body {
                background: <%= color %>;
                font-family: 'Droid Serif', 'Times', serif; 
                font-size: 50px; 
                text-align: center; 
            }
            form {display: inline-block; } 
            p {
                margin: 40px; 
            }
            .cheat {
                font-size: 12px; 
                font-family: Courier; 
                position: absolute; 
                bottom: 20px; 
                right: 20px; 
            } 
        </style>
    </head>
    <body>
        <p>
            <%= message %> 
        </p> 
        <p>
            <%= message2 %>
        </p>
        <form>
            <input type = 'text' name='guess' /> 
            <input type='submit' value='Guess!' /> 
        </form>
        <p class = cheat>
            <%= cheatmessage %>
        </p>
    </body>
</html>
